html, body {
  overflow: hidden;
}

.overlay, .window {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.overlay {
  z-index: 2;
}

.window {
  z-index: 1;
}

.fullWidth {
  width: 100%;
}

body {
  font-family: $mainFont;
}

#loginWindow, #createAccountWindow {
  background-color: $blueBG;
}

#loadingWindow {
  @extend .overlay;
  background-color: $blueBG;
  z-index: 10;
}

.loadingCircleWhite {
  background-image: inline-image("dataurl/loadingWhite.png");
  width: 64px;
  height: 64px;
  display: block;
  animation: rotation 0.8s infinite linear;
}

#loadingScreenLoadingIcon {
  margin: auto;
}

@-webkit-keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(359deg);}
}

.flexCentering {
  display: flex;
  align-items: center;
}

.flagIcon {
  width: 24px;
  height: 24px;
  margin-left: 3px;
  margin-right: 3px;
  display: inline-block;
}

.buttonBehavior {
  @extend .unselectable;
  &:hover {
    cursor: pointer;
  }
}

.simpleButton {
  @extend .buttonBehavior;
  background-color: #FFF;
  color: #000;
  border: solid 1px #000;
  box-shadow: -1px 1px 2px 0px rgba(0,0,0,0.50);
  font-family: $mainFont;
  outline: none;

  &:hover {
    color: #6b6b76;
    border-color: #6b6b76;
  }

  &:active {
    box-shadow: none;
    margin-left: -2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: -2px;
  }
}

.centeredBlock {
  display: block;
  margin: auto;
}

.centeredContents {
  text-align: center;
}

.buttonBehavior {
  &:hover {
    cursor: pointer;
  }
}

.textLink {
  text-decoration: none;
  font-weight: bold;
  color: #000bab;
  &:hover {
    color: #4f5aff;
  }
  &:active {
    color: #000cc8
  }
  @extend .buttonBehavior;
}

/* Scrollbar */
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #b9b9b9;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #626262;
}

.scrollable {
  @extend .scrollbar;
  overflow: auto;
}

.scrollableVertically {
  @extend .scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
}

.blackDotBackground {
  background-image: inline-image("dataurl/pixelBlackDot.png");
}

.cuteInputBig {
  height: 25px;
  line-height: 25px;
  font-size: 1.1em;
  text-align: center;
  font-family: alegreya;
}

/* UNselectable */
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}