#moodWindow {
  position: absolute;
  top: 90px;
  right: 50px;
  width: 300px;
  height: auto;
  background-color: #FFF;
  border: solid 1px #000;
  z-index: 3;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &:after {
    display: block;
    height: 3px;
    content: "";
    width: 0px;
    border: solid;
    border-color: #333;
    border-left: 3px solid #000;
    border-top: 0px;
    border-bottom: 0px;
    right: -6px;
    top: 10px;
    position: absolute;
  }
}

.moodButton {
  width: 150px;
  font-weight: bold;
  height: 24px;
  line-height: 24px;
  text-align: center;
  flex: 1 0 auto;
  align-self: auto;
  @extend .buttonBehavior;
  &:hover {
    background-color: rgba(0,0,0,.2);
  }
  &:active {
    background-color: rgba(0,0,0,.3);
  }
}

@keyframes trauma {
  from {
    filter: blur(0px);
  }
  10% {
    filter: blur(1px);

  }
  to {
    filter: blur(0px);
  }
}

@keyframes fireBackground {
  from {
    opacity: 0.15;
  }
  10% {
    opacity: 0.20;
  }
  20% {
    opacity: 0.20;
  }
  40% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.15;
  }
  70% {
    opacity: 0.10;
  }
  80% {
    opacity: 0.20;
  }
  90% {
    opacity: 0.10;
  }
  to {
    opacity: 0.15;
  }
}

#mainWindow {
  transition: filter 3s ease-in-out;

  //& > .leftSideWindow, & > .rightSideWindow {
  //  transition: filter 3s ease-in-out;
  //}

  &.trauma {
    animation-name: trauma;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  &.noir {
    filter: grayscale(100%) brightness(-5%) contrast(180%);
  }

  &.evening {
    filter: grayscale(10%) brightness(80%);

    & > #colorFilter {
      opacity: 0.1;
      background-color: #740d00;
    }
  }

  &.fire {
    filter: grayscale(10%) brightness(90%);

    & > #colorFilter {
      background-color: #bd2e00;
      animation-name: fireBackground;
      animation-duration: 8s;
      animation-iteration-count: infinite;
    }
  }

  &.night {
    filter: grayscale(10%) brightness(80%) contrast(125%);

    & > #colorFilter {
      opacity: 0.3;
      background-color: #000e62;
    }
  }

  &.gray {
    filter: grayscale(1);
  }
  

  &.sepia {
    filter: sepia(0.3) brightness(80%);
  }
}

#pictureWindow {
  filter: none !important;
}

#colorFilter {
  display: block;
  opacity: 0;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  z-index: 4;
  transition: opacity 5s ease-in-out;
}