.sheetListGameContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}

.sheetListGameName, .sheetListFolderName {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.3em;
  @extend .buttonBehavior;
}

.sheetListGameContainer, .sheetListFolderContainer {
  color: #828282;
}

.sheetListGameContainer.openSheetGame, .sheetListFolderContainer.openSheetFolder{
  color: #000000;
}

.sheetListFolderName {
  font-size: 1em;
  background-image: inline-image("dataurl/pixelBlackRow.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 6px;
}

.openSheetGame > .sheetListFolderContainer {
  display: block;
}

.sheetListFolderContainer {
  @extend .blackDotBackground;
  display: none;
  padding-left: 1px;
  margin-left: 4px;
  background-repeat: repeat-y;
  background-position: top left;
}

.openSheetFolder > .sheetListSheet {
  display: block;
}

.sheetListSheet, .sheetListNoSheet, .sheetListNewSheetButton {
  display: none;
  font-size: 0.9em;
  padding: 4px;
  padding-left: 12px;
  padding-right: 0px;
  @extend .lightHoverable;
}

.sheetListNewSheetButton, .sheetListNoSheet {
  border-left: solid 1px #000;
  margin-left: 4px;
}

.openSheetGame > .sheetListNoSheet, .openSheetGame > .sheetListNewSheetButton {
  display: block;
}

.sheetNameLink {
  @extend .textLink;
  min-width: 300px;
  display: inline-block;
}

.sheetExtraButton {
  float: right;
  padding-left: 20px;
  padding-right: 20px;
}

// Sheet Permissions
.sheetPermRow {
  @extend .lightHoverable;
  padding: 4px;
  font-size: 1.2em;
  padding-left: 20px;
  padding-right: 5px;
  line-height: 34px;
}

.sheetPermLabel {
  @extend .buttonBehavior;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}