#pictureWindow {
  z-index: 5;
  background-color: rgba(0,0,0,.4);
  pointer-events: none;
  opacity: 0;
  display:block;
}

#pictureClose {
  right: auto;
  left: 0px;
  z-index: 10;
}

#pictureLoading {
  position:absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,.4);
}

#mapBackground {
  position: absolute;
  z-index: 1;
}

#pictureContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#pictureBoard {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 37px; // toolContainerHeight + border + margin
  overflow: auto;

  @extend .scrollbar;
}

#pictureToolsContainer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.7);
  border-top: 1px solid #000;
  height: 26px;
  text-align: center;
}

.picaTool {
  @extend .buttonBehavior;
  @extend .textLink;
  height: 26px;
  line-height: 26px;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline-block;
  margin: 0px;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
}


.picaToolButton {
  @extend .picaTool;
  width: 26px;
  padding: 0px;
}

.leftPicaTool {
  @extend .picaTool;
  display: block;
  float: left;
  margin-left: 0px;
}

.leftPicaToolButton {
  @extend .leftPicaTool;
  @extend .picaToolButton;
}

.rightPicaTool {
  @extend .picaTool;
  display: block;
  float: right;
  margin-right: 0px;
}

.rightPicaToolButton {
  @extend .rightPicaTool;
  @extend .picaToolButton;
}

//.picaHr {
//  border: none;
//  display: inline-block;
//  height: 26px;
//  width: 0px;
//  margin: 0px;
//  border-right: solid 1px #666;
//}

.picaCanvas {
  position: absolute;
  z-index: 2;

  &.draw:hover {
    cursor: crosshair;
    z-index: 4;

    &.locked {
      cursor: not-allowed;
    }
  }

  &.move:hover {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    &.moving {
      cursor: move;
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }
  }
}

#colopica {
  @extend .buttonBehavior;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 18px;
  padding: 0px;
  height: 18px;
  margin: 3px;
  outline: none;
  border: solid 1px #575757;

  &:hover {
    border-color: #9f9f9f;
  }

  &:active {
    border-color: #838383;
  }

  &::-webkit-color-swatch {
    border: none;
  }

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
}