// Simple Messages
#chatTitle {
  font-size: 1.7em;
  font-weight: bold;
  text-align:center;
  font-family: $mainFont;
  line-height: 1.3em;
  margin-top: 5px;
}

#chatDescription {
  font-size: 1.1em;
  text-align: justify;
  text-indent: 1.2em;
  line-height: 1.5em;
  padding: 6px;
  font-family: $mainFont;
}

.chatInitHelp {
  padding-left: 6px;
  padding-right: 6px;
  color: #949494;
}

.chatInitHelp:before {
    content: "- ";
}

// Actual Messages
.chatMessage {
  line-height: 1.2em;
  font-size: 1em;
  &:hover {
    background-color: rgba(0,0,0,.2);
  }
}

.chatMessageSending {
  background-color: #fffae5;
  &:hover {
    background-color: #ddd6b6;
  }
}

.chatMessageError {
  background-color: #ffe5e5;
  &:hover {
    background-color: #ddb6b6;
  }
}

.chatMessagePadding {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.chatMessageParagraph {
  text-align: justify;
  display: block;
  //text-indent: 1em;
  @extend .chatMessage;
  @extend .chatMessagePadding;
  //&:before {
  //  content: "* ";
  //  visibility: hidden;
  //  font-weight: bold;
  //}
  text-indent: 0.8em;
}

.chatMessageNotification {
  @extend .chatMessage;
  @extend .chatMessagePadding;
  color: #696969;

  &:before {
    content: "(";
    margin-right: 4px;
  }

  &:after {
    content: ")";
    margin-left: 4px;
  }
}

$actionColor: #d90000;

// MessageStory
.chatMessageStory {
  @extend .chatMessageParagraph;
  text-indent: 0px;
  color: #074fb0;
}

// MessageRoleplay
.chatRoleplayImportant {
  color: #234788;
  font-weight: bold;
}

.chatRoleplayItalic {
  font-style: italic;
  font-weight: bold;
}

.chatRoleplayThought {
  color: #6882b1;
  font-style: italic;
}

.chatRoleplayAction {
  color: $actionColor;
  font-weight: bold;
}

.chatRoleplayTranslation {
  display: block;
  color: #7f007f;
}

// MessageOff
.chatOff {
  font-style: italic;
  @extend .chatMessageParagraph;
  color: #2d9d00;
}

// MessageAction
.chatAction {
  @extend .chatMessageParagraph;
  color: $actionColor;
  text-indent: 0px;
}

// MessageDice
@keyframes rainbowDice {
  from {
    color: rgb(100, 0, 0);
    background-color: rgb(255, 150, 150);
    border-color: rgb(200, 0, 0);
  }
  15% {
    color: rgb(100, 0, 100);
    background-color: rgb(255, 150, 255);
    border-color: rgb(200, 0, 200);
  }
  30% {
    color: rgb(0, 0, 100);
    background-color: rgb(150, 150, 255);
    border-color: rgb(0, 0, 200);
  }
  45% {
    color: rgb(0, 100, 100);
    background-color: rgb(150, 255, 255);
    border-color: rgb(0, 200, 200);
  }
  60% {
    color: rgb(0, 100, 0);
    background-color: rgb(150, 255, 150);
    border-color: rgb(0, 200, 0);
  }
  75% {
    color: rgb(100, 100, 0);
    background-color: rgb(255, 255, 150);
    border-color: rgb(200, 200, 0);
  }
  to {
    color: rgb(100, 0, 0);
    background-color: rgb(255, 150, 150);
    border-color: rgb(200, 0, 0);
  }
}

@keyframes shameDice {
  from {
    color: rgb(100, 0, 0);
    background-color: rgb(255, 173, 173);
    border-color: rgb(225, 0, 55);
  }
  50% {
    color: rgb(0, 100, 100);
    background-color: rgb(189, 127, 127);
    border-color: rgb(169, 0, 44);
  }
  to {
    color: rgb(100, 0, 0);
    background-color: rgb(255, 173, 173);
    border-color: rgb(225, 0, 55);
  }
}

.chatMessageDice {
  @extend .chatMessageParagraph;
  color: #b900b3;
  text-indent: 0px;
  font-size: 1.1em;
  line-height: 1.5em;

  &.rainbow {
    //color: rgba(0,0,0,.9);
    &.hq {
      animation: rainbowDice 1.5s linear 0s infinite;
    }
  }

  &.shame {
    color: #7d0000;
    &.hq {
      animation: shameDice 1.5s linear 0s infinite;
    }
  }
}

.chatMessageDiceBox {
  min-width: 0.6em;
  display: inline-block;
  vertical-align: middle;
  background-color: #ffe3fe;
  padding: 0px;
  border: solid 1px #e782e4;
  border-radius: 15%;
  text-align: center;
  padding-left: 0.45em;
  padding-right: 0.45em;
  font-size: 0.9em;

  &.rainbow {
    //border-color: #ccb600;
    //color: #716500;
    //background-color: #ffed53;
    border-color: rgba(0,0,0,.9);
    color: rgba(0,0,0,.8);
    background-image: inline-image("dataurl/pixelRainbowOfHappiness.gif");
    &.hq {
      background-image: none;
      animation: rainbowDice 1.5s linear 0s infinite;
    }
  }

  &.shame {
    //border-color: #a51f1f;
    //color: #6c0000;
    //background-color: #c07272
    border-color: rgba(40,0,0,.9);
    color: rgba(230,200,200,.8);
    background-image: inline-image("dataurl/pixelPulsatingHeart.gif");
    &.hq {
      background-image: none;
      animation: shameDice 1.5s linear 0s infinite;
    }
  }
}

.chatMessageDiceBoxSquare {
  @extend .chatMessageDiceBox;
  border-radius: 0;
}

.chatMessageDiceBoxCircle {
  @extend .chatMessageDiceBox;
  border-radius: 50%;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.chatMessageDiceBoxRoll {
  @extend .chatMessageDiceBox;
}

.chatMessageDiceBoxResult {
  @extend .chatMessageDiceBox;
  background-color: #ffbafd;
  border-color: #8f2281;
}

.chatMessageDiceReason {
  @extend .chatMessagePadding;
  display: block;
  font-size: 0.8em;
  padding-top: 0px;
  padding-bottom: 0px;
}

// MessageSheetturn
.chatMessageTurn {
  @extend .chatMessageParagraph;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  padding-left: 0px;
}

.chatMessageTurnIcon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 6px;
}

// MessageSheetdamage
.chatMessageSheetdamage {
  @extend .chatMessageParagraph;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  padding-left: 0px;

  &.HP {
    color: #8d0000;
  }

  &.Exp {
    color: #333333;
  }

  &.MP {
    color: #00037f;
  }
}

.chatMessageDamageIcon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.chatMessageDamageBubble {
  //min-width: 0.6em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0px;
  padding-left: 0.45em;
  padding-right: 0.45em;
  text-indent: 0px;
  border: solid 1px #000;
  border-radius: 15%;
  background-color: #FFF;
  margin-left: 10px;
  line-height: 1.5em;
  font-size: 1.2em;

  &.HP {
    background-color: #ff9191;
    border-color: #8e0000;
  }

  &.Exp {
    background-color: #e3e3e3;
    border-color: #929292;
  }

  &.MP {
    background-color: #d9daee;
    border-color: #292b69;
  }
}

// MessageWhisper
.chatWhisper {
  @extend .chatMessageParagraph;
  text-indent: 0px;
  color: #920789;
}

.chatWhisperLink {
  @extend .buttonBehavior;
  &:hover {
    color: #be18b3;
  }
}

// MessageBGM, MessageYoutube, MessageImage, MessageSE
.chatMessageShare {
  @extend .chatMessageParagraph;
  color: #00118a;
}

// MessageVote
.chatMessageVote {
  color: #8a7400;
  @extend .chatMessageParagraph;
  min-height: 3.1em;
}

.chatMessageVoteAmount {
  @extend .buttonBehavior;

  text-indent: 0px;
  display: block;
  float: left;
  min-width: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  line-height: 2em;
  font-size: 1.5em;
  vertical-align: top;
  border: solid 1px #b79a00;
  background-color: #fdf5cb;
  text-align: center;
  margin-right: 10px;

  &:hover {
    border-color: #c5a500;
    background-color: #ffed92;
  }

  &:active {
    border-color: #c5a500;
    background-color: #d7c97f;
  }
}

.chatMessageVoteReason {
  text-indent: 0.25em;
  margin-right: 5px;
  font-weight: bold;
}

.chatMessageVoteVoters {
  text-indent: 2em;
  margin-top: 6px;
  display: block;
}

// MessageCountdown
.chatMessageCounter {
  @extend .chatMessageParagraph;
  border-bottom: solid 1px #740000;
}

.chatMessageCounterEnd {
  border-top: solid 1px #740000;
  margin-top: -1px;
  height: 0px;
  display: block;
}

.chatMessageCounterSpan {
  @extend .chatMessageDiceBoxCircle;
  text-indent: 0px;
  text-align: center;
  font-size: 1.5em;
  height: 2em;
  line-height: 2em;
}

// MessageSystem
.chatMessageSystem {
  @extend .chatMessageParagraph;
  text-indent: 0px;
  background-color: #eacedc;
  font-size: 1.4em;
  &:hover {
    background-color: #d0afc0;
  }
}

.chatMessageSystem:before {
  content: "---- ";
}

.chatMessageSystem:after {
  content: " ----";
}