.lingoRow {
  padding: 6px;

  &:hover {
    background-color: rgba(0,0,0,.05);
  }
}

.lingoRow {
  line-height: 30px;
}

.lingoName {
  margin-right: 6px;
}

.lingoButton {
  display: inline-block;
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 10px;
  line-height: 20px;
  vertical-align: middle;

  &:hover {
    background-color: rgba(0,0,0,.2);
  }

  &.clickable {
    @extend .buttonBehavior;
    border: solid 1px #000;

    &:hover {
      border-color: #9c9c9c;
    }

    &:active {
      background-color: rgba(0,0,0,.5);
      border-color: #484848;
    }
  }
}