$mainFont: alegreya;
$secondaryFont: caudex;
$chatFont: caudex;
$blueBG : #b2b9cf;

/*
** Individual font licenses can be found in /stylesheets/fontface
** and /stylesheets/fontface/Lingo.
*/

@import "allFonts";

@import "compass/utilities/sprites";

$icons-layout:smart;
@import "icons/*.png";
@include all-icons-sprites;

@import "compass/reset";


b { font-weight: bold; }
@import "generalView";
@import "login";
@import "windows";
@import "mainWindow";
@import "mainWindowImages";
@import "mainWindowSounds";
@import "mainWindowGames";
@import "mainWindowSheets";
@import "mainConfig";
@import "mainWindowSimple";
@import "mainChat";
@import "mainChatMessages";
@import "mainPicture";
@import "buttons";