$mainFont: alegreya;
$secondaryFont: caudex;
$chatFont: alegreya;
$blueBG : #b2b9cf;

/*
** Individual font licenses can be found in /stylesheets/fontface
** and /stylesheets/fontface/Lingo.
*/
@import "_allFonts";
@import "_jqueryui";

/*
** Most Icons are based on Adam Whitcroft's Batch icon set
 */
@import "compass/utilities/sprites";
$icons-layout:smart;
@import "icons/*.png";
@include all-icons-sprites;

@import "compass/reset";

b { font-weight: bold; }
@import "_generalView";
@import "_login";
@import "_windows";
@import "_mainWindow";
@import "_mainChatLanguages";
@import "_mainWindowImages";
@import "_mainWindowInviteDesigner";
@import "_mainWindowGameDesigner";
@import "_mainWindowRoomDesigner";
@import "_mainWindowSounds";
@import "_mainWindowSoundList";
@import "_mainWindowGames";
@import "_mainWindowSheets";
@import "_mainConfig";
@import "_mainWindowSimple";
@import "_mainWindowStyles";
@import "_mainChat";
@import "_mainChatMessages";
@import "_mainChatLogger";
@import "_mainChatCombat";
@import "_mainPicture";
@import "_buttons";
@import "_mainWindowChangelog";
@import "_mainSheetViewer";
@import "_mainWindowFilters";
@import "_mainWindowIFrames";
@import "_dark";

