$mainFont: alegreya;
$secondaryFont: caudex;
$chatFont: alegreya;
$blueBG : #b2b9cf;

/*
** Individual font licenses can be found in /stylesheets/fontface
** and /stylesheets/fontface/Lingo.
*/
@import "allFonts";



@import "jqueryui";

/*
** Most Icons are based on Adam Whitcroft's Batch icon set
 */
@import "compass/utilities/sprites";
$icons-layout:smart;
@import "icons/*.png";
@include all-icons-sprites;

@import "compass/reset";

b { font-weight: bold; }
@import "generalView";
@import "login";
@import "windows";
@import "mainWindow";
@import "mainChatLanguages";
@import "mainWindowImages";
@import "mainWindowInviteDesigner";
@import "mainWindowGameDesigner";
@import "mainWindowRoomDesigner";
@import "mainWindowSounds";
@import "mainWindowSoundList";
@import "mainWindowGames";
@import "mainWindowSheets";
@import "mainConfig";
@import "mainWindowSimple";
@import "mainWindowStyles";
@import "mainChat";
@import "mainChatMessages";
@import "mainChatLogger";
@import "mainChatCombat";
@import "mainPicture";
@import "buttons";
@import "mainWindowChangelog";
@import "mainSheetViewer";
@import "mainWindowFilters";
