-# coding: utf-8
!!! 5
%html
  %head
    %title= "RedPG"
    %meta{:charset => "utf8"}
    %meta{:content => "", :name => "description"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}/
    <!-- Individual font licenses included in CSS. -->
    %link{:href => "stylesheets/screen.css", :media => "all", :rel => "stylesheet", :type => "text/css", :id=>"redpgCss"}
  %body
    #loadingWindow.flexCentering
      %a.loadingCircleWhite#loadingScreenLoadingIcon
    #createAccountWindow.window.flexCentering
      #accountBox
        .accountCreationError#accCreationError.language="_CREATEACCOUNTGENERALERROR_"
        .accountCreationError#accCreationError401.language="_CREATEACCOUNTSTUPIDERROR_"
        .accountCreationError#accCreationError409.language="_CREATEACCOUNTALREADYEXISTS_"
        %form#accountCreationForm.centeredContents
          %input#accName.accCreationInput.language{:data => {:placeholderlingo => "_CREATEACCOUNTNAME_"}}
          .accError.language="_CREATEACCOUNTNAMEERROR_"
          %input#accNickname.accCreationInput.language{:data => {:placeholderlingo => "_CREATEACCOUNTNICKNAME_"}}
          .accError.language="_CREATEACCOUNTNICKNAMEERROR_"
          %input#accEmail.accCreationInput.language{:data => {:placeholderlingo => "_LOGINEMAIL_"}}
          .accError.language="_CREATEACCOUNTEMAILERROR_"
          %input#accPassword.accCreationInput.language{:type => "password", :data => {:placeholderlingo => "_LOGINPASSWORD_"}}
          .accError.language="_CREATEACCOUNTPASSWORDINVALID_"
          %input#accPassword2.accCreationInput.language{:type => "password", :data => {:placeholderlingo => "_LOGINPASSWORDREPEAT_"}}
          .accError.language="_CREATEACCOUNTPASSWORDMATCHING_"
          %input.simpleButton.language#accCreationReturnButton{:type => "reset", :data => {:valuelingo => "_ACCCREATIONRETURN_"}}
          %input.simpleButton.language#accCreationSubmitButton{:type => "submit", :data => {:valuelingo => "_ACCCREATIONSUBMIT_"}}
    #loginWindow.window.flexCentering
      #loginBox
        #loginError404.language="_LOGINERROR404_"
        #loginError.language="_LOGINERROR_"
        #loginFlagContainer
        %form#loginForm.centeredContents
          %input#loginEmailInput.loginInput.language{:data => {:placeholderlingo => "_LOGINEMAIL_"}}
          %input#loginPasswordInput.loginInput.language{:type => "password", :data => {:placeholderlingo => "_LOGINPASSWORD_"}}
          %input.simpleButton.language#loginSubmitButton{:type => "submit", :data => {:valuelingo => "_LOGINSUBMIT_"}}
        #loginExtraButtons
          #loginForgotPassword.language="_LOGINFORGOTPASSWORD_"
          #loginNewAccount.language="_LOGINCREATEACCOUNT_"
    -# Main Window Begins here
    #mainWindow.window
      #colorFilter
      -# Music Player
      #musicPlayerButton.icons-soundPlayer.dontDetach.leftSideWindow
        %audio#soundPlayerSE{:crossOrigin => "anonymous"}
        %audio#soundPlayerBGM{:crossOrigin => "anonymous"}
        %audio#soundDiceRoll{:src => "images/soundDice.m4a", :preload => true}
        %audio#soundAlert{:src => "images/soundAlert.m4a", :preload => true}
        #musicPlayerContainer
          #musicPlayerTrackName
          %progress#musicPlayerProgress{:value => "50", :min => "0", :max => "100"}
          %a#musicPlayerPlayPause.musicPlayerButton.icons-soundPlayerPause
          %a#musicPlayerStop.musicPlayerButton.icons-soundPlayerStop
          %a#musicPlayerRepeat.musicPlayerButton.icons-soundPlayerRepeatActive
      -# Left Ear
      #leftHandleBar.handleBar
        #leftHandleIcon.icons-handlerLTR
        %a.icons-handleLogout#logoutButton.leftHandleButton.language="_MENULOGOUT_"
        %a.icons-handleChat#openChatButton.leftHandleButton.language="_MENUCHAT_"
        %a.icons-handleGames#gamesButton.leftHandleButton.language="_MENUGAMES_"
        %a.icons-handleOptions#configButton.leftHandleButton.language="_MENUCONFIG_"
      -# Right Ear
      #rightHandleBar.handleBar
        #rightHandleIcon.icons-handlerRTL
        %a.icons-handleSheets#sheetsButton.rightHandleButton.language="_MENUSHEETS_"
        %a.icons-handleSheet#sheetOpenButton.rightHandleButton.language="_MENUSHEETREOPEN_"
        %a.icons-handlePicas#imagesButton.rightHandleButton.language="_MENUIMAGES_"
        %a.icons-handleSounds#soundsButton.rightHandleButton.language="_MENUSOUNDS_"
      -# Loading Screens
      #leftLoading.leftSideWindow.flexCentering.dontDetach
        %a.loadingCircleWhite.centeredBlock
      #rightLoading.rightSideWindow.flexCentering.dontDetach
        %a.loadingCircleWhite.centeredBlock
      -# Logger
      #loggerWindow.leftSideWindow.dontDetach
        .language.mainWindowHeader
          _LOGGERTITLE_
          %a.xButton{:onclick => "UI.Logger.close();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_LOGGEREXP1_"
          #loggerSlider
          #loggerTarget
          %p.mainWindowParagraph.language="_LOGGEREXP2_"
          #loggerCheckboxes
            %label
              %input{:type=>"checkbox"}
              roleplay
          %input.mainWindowParagraphSubmit.language#loggerSubmit{:type=>"submit", :data=>{:valuelingo => "_LOGGERSUBMIT_"}}
      -# Map
      #pictureWindow.rightSideWindow.dontDetach
        %a#pictureClose.xButton{:onclick => "UI.Pica.close();"}
        #pictureLoading.flexCentering{:style=>"display: none"}
          %a.loadingCircleWhite.centeredBlock
      -# Left Side Windows
      -############################################
      -############## CHANGELOG
      -############################################
      #changelogSideWindow.leftSideWindow
        .language.mainWindowHeader
          _CHANGELOGTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeLeftPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_CHANGELOGP2_"
          %p.mainWindowParagraph.language
            _CHANGELOGCURRENTVERSION_
            %b.changelogVersion#changelogCurrentVersion="0.0.0"
            _CHANGELOGMOSTRECENTVERSION_
            %b.changelogVersion#changelogActualVersion="0.1.0"
          %p.mainWindowParagraph.language#changelogWarning="_CHANGELOGVERSIONWARNING_"
          #changelogTarget
            %p.mainWindowParagraph.changelogMissing
              %span.changelogChangeVersion="0.9.0"
              %span.changelogChange="Adicionadas coisas legais que você não tem."
            %p.mainWindowParagraph.changelogCurrent
              %span.changelogChangeVersion="0.8.0"
              %span.changelogChange="Adicionadas coisas chatas que você tem.."
              %span.changelogChange="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a nibh vulputate, mollis libero eu, aliquam leo. Donec tincidunt egestas congue. Vestibulum sagittis dapibus ante sit amet tincidunt. Mauris scelerisque eu sem in vehicula. Aenean justo erat, cursus quis orci quis, consectetur laoreet nulla. Vestibulum tristique mi non varius venenatis. Nulla maximus lacinia erat vel luctus. Vivamus cursus libero vitae aliquet vehicula. Etiam non scelerisque diam. Sed ornare odio quis augue semper dapibus. Nam eros diam, finibus eu felis sit amet, ultrices ullamcorper arcu. Nunc vehicula, risus et aliquam egestas, nulla massa semper quam, non facilisis eros elit a urna. Cras accumsan eleifend pharetra. Cras eu massa felis."
      -############################################
      -############## CONFIG
      -############################################
      #configSideWindow.leftSideWindow
        .mainWindowHeader.language
          _CONFIGTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeLeftPage();"}
        .mainWindowContent.singleton
          %p.hoverable.mainWindowParagraph.centered
            %a#configSave.textLink.language="_CONFIGSAVE_"
            \-
            %a#configReset.textLink.language="_CONFIGRESET_"
          %p.mainWindowParagraph.centered#configMessages
            %b#configError.language="_CONFIGERROR_"
            %b#configSuccess.language="_CONFIGSUCCESS_"
          %label.configLabel
            %b.configName.language="_CONFIGCHATMAXMESSAGES_"
            %input.configInput#configChatMaxMessages{:type => "number", :value => "120", :min => "60", :max => "10000"}
            .configExplanation.language
              _CONFIGCHATMAXMESSAGESEXP01_<br/>_CONFIGCHATMAXMESSAGESEXP02_
          %label.configLabel
            %b.configName.language="_CONFIGCHATFONTSIZE_"
            %input.configInput#configChatFontSize{:type => "range", :value => "16", :min => "12", :max => "32"}
            .configExplanation.language
              _CHATFONTSIZEEXP01_<br/>_CHATFONTSIZEEXP02_
          %label.configLabel
            %b.configName.language="_CONFIGCHATFONTFAMILY_"
            %input.configInput#configChatFontFamily{:type => "text", :value => "Caudex"}
            .configExplanation.language
              _CHATFONTFAMILEXP01_<br/>_CHATFONTFAMILEXP02_
          %label.configLabel
            %b.configName.language="_CONFIGCHATHELP_"
            %select.configInput#configChatShowHelp
              %option.language{:value => "true"}="_CONFIGCHATHELPOP01_"
              %option.language{:value => "false"}="_CONFIGCHATHELPOP02_"
            .configExplanation.language
              _CONFIGCHATHELPEXP_
          %label.configLabel
            %b.configName.language="_CONFIGHQRAINBOW_"
            %select.configInput#configHQRainbow
              %option.language{:value => "0"}="_CONFIGHQRAINBOW0_"
              %option.language{:value => "1"}="_CONFIGHQRAINBOW1_"
              %option.language{:value => "2"}="_CONFIGHQRAINBOW2_"
            .configExplanation.language
              _CONFIGHQRAINBOWEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATAUTOBGM_"
            %select.configInput#configChatAutoBGM
              %option.language{:value => "0"}="_CONFIGCHATAUTONEVER_"
              %option.language{:value => "1"}="_CONFIGCHATAUTOSOMETIMES_"
              %option.language{:value => "2"}="_CONFIGCHATAUTOALWAYS_"
            .configExplanation.language
              _CONFIGCHATAUTOEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATAUTOSE_"
            %select.configInput#configChatAutoSE
              %option.language{:value => "0"}="_CONFIGCHATAUTONEVER_"
              %option.language{:value => "1"}="_CONFIGCHATAUTOSOMETIMES_"
              %option.language{:value => "2"}="_CONFIGCHATAUTOALWAYS_"
            .configExplanation.language
              _CONFIGCHATAUTOEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATAUTOIMAGE_"
            %select.configInput#configChatAutoImage
              %option.language{:value => "0"}="_CONFIGCHATAUTONEVER_"
              %option.language{:value => "1"}="_CONFIGCHATAUTOSOMETIMES_"
              %option.language{:value => "2"}="_CONFIGCHATAUTOALWAYS_"
            .configExplanation.language
              _CONFIGCHATAUTOEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATAUTOVIDEO_"
            %select.configInput#configChatAutoVideo
              %option.language{:value => "0"}="_CONFIGCHATAUTONEVER_"
              %option.language{:value => "1"}="_CONFIGCHATAUTOSOMETIMES_"
              %option.language{:value => "2"}="_CONFIGCHATAUTOALWAYS_"
            .configExplanation.language
              _CONFIGCHATAUTOEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATAUTOROLLS_"
            %select.configInput#configAutoRollApplication
              %option.language{:value => "0"}="_CONFIGAUTOROLL0_"
              %option.language{:value => "1"}="_CONFIGAUTOROLL1_"
            .configExplanation.language
              _CONFIGAUTOROLLEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATSCREENEFFECTS_"
            %select.configInput#configChatScreenEffects
              %option.language{:value => "false"}="_CONFIGCHATEFFECTSNO_"
              %option.language{:value => "true"}="_CONFIGCHATEFFECTSYES_"
            .configExplanation.language
              _CONFIGCHATEFFECTSEXP_
          %label.configLabel
            %b.configName.language="_CONFIGCHATUNNECESSARYMESSAGES_"
            %select.configInput#configChatHideSomeMessages
              %option.language{:value => "false"}="_CONFIGCHATUNNECESSARYMESSAGESNO_"
              %option.language{:value => "true"}="_CONFIGCHATUNNECESSARYMESSAGESYES_"
            .configExplanation.language
              _CONFIGCHATUNNECESSARYMESSAGESEXP_
          %label.configLabel
            %b.configName.language="_CONFIGANIMATIONTIME_"
            %input.configInput#configAnimTime{:type => "range", :value => "150", :min => "0", :max => "300"}
            .configExplanation.language
              _ANIMATIONTIMEEXP01_<br>_ANIMATIONTIMEEXP02_
          %label.configLabel
            %b.configName.language="_CONFIGBGMVOLUME_"
            %input.configInput#configBGMVolume{:type => "range", :value => "0", :min => "0", :max => "100"}
            .configExplanation.language
              _CONFIGBGMVOLUMEEXP_
          %label.configLabel
            %b.configName.language="_CONFIGSEVOLUME_"
            %input.configInput#configSEVolume{:type => "range", :value => "0", :min => "0", :max => "100"}
            .configExplanation.language
              _CONFIGSEVOLUMEEXP_
      -############################################
      -############## GAMES
      -############################################
      -#### ROOM DESIGNER FORM
      #roomDesignerFormSideWindow.leftSideWindow
        .language.mainWindowHeader="_ROOMDESIGNERTITLE_"
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_ROOMDESIGNEREXP_"
          %p.mainWindowParagraphError.gameInviteDesignerMessage.language#roomDesignerError="_ROOMDESIGNERERROR_"
          %form#roomDesignerForm
            %input.mainWindowWideInput.language#roomDesignerName{:data=>{:placeholderlingo=>"_ROOMDESIGNERNAMEPLACEHOLDER_"}}
            %textarea.mainWindowWideTextarea.language#roomDesignerMessage{:data=>{:placeholderlingo=>"_ROOMDESIGNERMESSAGEPLACEHOLDER_"}}
            %input.mainWindowParagraphSubmit.language{:type=>"submit", :data=>{:valuelingo => "_ROOMDESIGNERSUBMIT_"}}
      -#### GAME DESIGNER FORM
      #gameDesignerFormSideWindow.leftSideWindow
        .language.mainWindowHeader="_GAMEDESIGNERTITLE_"
        .mainWindowContent.singleton
          %p.mainWindowParagraphError.gameInviteDesignerMessage.language#gameDesignerError="_GAMEDESIGNERERROR_"
          %form#gameDesignerForm
            %input.mainWindowWideInput.language#gameDesignerName{:data=>{:placeholderlingo=>"_GAMEDESIGNERNAMEPLACEHOLDER_"}}
            %textarea.mainWindowWideTextarea.language#gameDesignerMessage{:data=>{:placeholderlingo=>"_GAMEDESIGNERMESSAGEPLACEHOLDER_"}}
            %input.mainWindowParagraphSubmit.language{:type=>"submit", :data=>{:valuelingo => "_GAMEDESIGNERSUBMIT_"}}
      -#### GAME INVITE CARD CREATOR
      #gameInviteFormSideWindow.leftSideWindow
        .language.mainWindowHeader="_GAMEINVITEDESIGNERTITLE_"
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_GAMEINVITEDESIGNEREXP01_"
          %p.mainWindowParagraph.language#gameInviteDesignerGameName="_GAMEINVITEDESIGNEREXP02_"
          %p.mainWindowParagraphError.gameInviteDesignerMessage.language#gameInviteDesigner404="_GAMEINVITEDESIGNERERROR404_"
          %p.mainWindowParagraphError.gameInviteDesignerMessage.language#gameInviteDesigner401="_GAMEINVITEDESIGNERERROR401_"
          %p.mainWindowParagraphSuccess.gameInviteDesignerMessage.language#gameInviteDesigner200="_GAMEINVITEDESIGNERSUCCESS_"
          %form#gameInviteDesignerForm
            %input.mainWindowWideInput.language#gameInviteDesignerName{:data=>{:placeholderlingo=>"_GAMEINVITEDESIGNERNAMEPLACEHOLDER_"}}
            %textarea.mainWindowWideTextarea.language#gameInviteDesignerMessage{:data=>{:placeholderlingo=>"_GAMEINVITEDESIGNERMESSAGEPLACEHOLDER_"}}
            %input.mainWindowParagraphSubmit.language{:type=>"submit", :data=>{:valuelingo => "_GAMEINVITEDESIGNERSUBMIT_"}}
      -#### GAME INVITES WINDOW
      #gameInvitesSideWindow.leftSideWindow
        .language.mainWindowHeader="_GAMEINVITESTITLE_"
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_GAMEINVITESEXP01_"
          %p.mainWindowParagraph.language#gameInvitesNickTarget="_GAMEINVITESEXP02_"
          %p.mainWindowParagraph.language#gameInvitesError
          #inviteTarget
      -#### STYLE DESIGNER
      #styleEditorSideWindow.leftSideWindow
        .language.mainWindowHeader
          _STYLEEDITOR_
          %a.xButton{:onclick => "UI.PageManager.closeLeftPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_STYLEEDITOREXP_"
          %form#styleEditorForm
            %label.language.styleLabel
              %input.language#styleEditorName.cuteInputBig{:data=>{:placeholderlingo=>"_STYLEEDITORNAME_"}}
            %label.language.styleLabel#styleEditorPublicLabel
              %input#styleEditorPublic{:type=>"checkbox"}
              _STYLEEDITORPUBLIC_
              %span#styleEditorPublicExp.language.styleExplanation
                _STYLEEDITORPUBLICEXP_
            %label.styleLabel.language#styleEditorGameLabel
              _STYLEEDITORGAME_
              %select#styleEditorGameSelect
                %option="História dos Seis"
              %span#styleEditorGameExp.language.styleExplanation
                _STYLEEDITORGAMEEXP_
            %label.styleLabel.language#styleEditorCopyLabel
              _STYLEEDITORCOPY_
              %select#styleEditorCopySelect
                %option="Dragon Fantasy Saga 5.0 BETA"
              %a.textLink.language#styleEditorCopyButton="_STYLEEDITORCOPYBUTTON_"
              %span#styleEditorCopyExp.language.styleExplanation
                _STYLEEDITORCOPYEXP_
            %label.styleFourthLabel.language
              _STYLEEDITORHTML_
              %textarea.styleFourthTextarea#styleEditorHTML
            %label.styleFourthLabel.language
              _STYLEEDITORCSS_
              %textarea.styleFourthTextarea#styleEditorCSS
            %label.styleFourthLabel.language
              _STYLEEDITORJS_
              %textarea.styleFourthTextarea#styleEditorJS
            %label.styleFourthLabel.language
              _STYLEEDITORPUBLICCODE_
              %textarea.styleFourthTextarea#styleEditorPublicCode
            %label.language.styleLabel#styleEditorRemainLabel
              %input#styleEditorRemain{:type=>"checkbox"}
                _STYLEEDITORREMAIN_
            %input.textLink.mainWindowParagraph.hoverable.language#styleEditorSubmit{:type=>"submit", :data=>{:valuelingo => "_STYLEEDITORSAVE_"}}
      -#### STYLES WINDOW
      #stylesSideWindow.leftSideWindow
        .language.mainWindowHeader
          _STYLESTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeLeftPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_STYLESEXP1_"
          %p.mainWindowParagraph.language="_STYLESEXP2_"
          %p.mainWindowParagraph.language.textLink.hoverable#stylesNewStyleButton="_STYLESNEWSTYLE_"
          #styleListTarget
      -#### MAIN GAMES WINDOW
      #gamesSideWindow.leftSideWindow
        .language.mainWindowHeader
          _GAMESTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeLeftPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language#gamesNickTarget="_GAMESEXP1_"
          %p.mainWindowParagraph.language="_GAMESEXP2_"
          %p.mainWindowParagraph.language="_GAMESEXP3_"
          %p.mainWindowParagraph.language="_GAMESEXP4_"
          %p.mainWindowParagraph.language.textLink.hoverable#gameInvitesButton="_GAMESINVITES_"
          %p.mainWindowParagraph.language.textLink.hoverable#gameNewGameButton="_GAMESNEWGAME_"
          #gameListTarget
      -############################################
      -############## CHAT
      -############################################
      #combatFloater.chatFloater
        #combatHandle.language.chatFloaterHandle
          #combatMinus.chatFloaterMinus="-"
          _COMBATTRACKER_
        #combatContent.chatFloaterContent
          .combatRow.currentTurn.currentTarget
            %a.combatRemove.language{:data => {:titlelingo => "_COMBATTRACKERREMOVE_"}}
            %span.combatName="Nome do Sujeito"
            %input.combatRowInitiative
            %a.combatSetTurn.language{:data => {:titlelingo => "_COMBATTRACKERSETTURN_"}}
            %a.combatTarget.language{:data => {:titlelingo => "_COMBATTRACKERSETTARGET_"}}
            %a.combatSheet.language{:data => {:titlelingo => "_COMBATTRACKERSHEET_"}}
          .combatRow
            %span.combatName.language="_COMBATTRACKERNOCOMBATANTS_"
        #combatStoryButtons.chatFloaterContent
          %select#combatSelectUser
            %option="NPC"
            %option="Reddo"
          \-
          %select#combatSelectSheet
            %option.language{:disabled=>"true"}="_COMBATTRACKERNOSHEETS_"
          %a#combatAddSheet.combatAdd.language{:data => {:titlelingo => "_COMBATTRACKERADD_"}}
          %a#combatNewRound.combatNewRound.language{:data => {:titlelingo => "_COMBATTRACKERNEWROUND_"}}
          %a#combatNextTurn.combatNextTurn.language{:data => {:titlelingo => "_COMBATTRACKERNEXTTURN_"}}
          %a#combatEndCombat.combatEndCombat.language{:data => {:titlelingo => "_COMBATTRACKEENDCOMBAT_"}}
      #lingoFloater.chatFloater
        #lingoHandle.language.chatFloaterHandle
          #lingoMinus.chatFloaterMinus="-"
          _LINGOMANAGER_
        #lingoContent.chatFloaterContent
          .lingoRow
            %b.lingoName="Reddo#0001:"
            %a.lingoButton="Elvish"
            %a.lingoButton
              %span.textLink="(X)"
              Elagon
            %a.lingoButton.clickable="Draconic"
            .lingoAdder
              %select
                %option="Elvish"
                %option="Orcish"
              %a.textLink.language="_LINGOADD_"
      #chatSideWindow.leftSideWindow
        #avatarBox
        .icons-chatUp#avatarUpButton
        .icons-chatDown#avatarDownButton
        #chatNotificationBar
        #chatFloater
        #moodWindow
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('none');"}="_MOODNONE_"
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('night');"}="_MOODNIGHT_"
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('evening');"}="_MOODEVENING_"
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('fire');"}="_MOODFIRE_"
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('trauma');"}="_MOODTRAUMA_"
          .moodButton.language{:onclick=>"UI.Chat.Filters.applyFilter('sepia');"}="_MOODSEPIA_"
        #chatBox
          %p#chatTitle
          %p#chatDescription
          %p.chatInitHelp.language="_CHATHELP01_"
          %p.chatInitHelp.language="_CHATHELP02_"
          %p.chatInitHelp.language="_CHATHELP03_"
          %p.chatInitHelp.language="_CHATHELP04_"
          %p.chatInitHelp.language="_CHATHELP05_"
          %p.chatInitHelp.language="_CHATHELP06_"
          #chatMessages
        #chatScrollDown
        #chatButtonsBox
          %a.chatRightButton.icons-chatMood.language#chatMoodButton{:data => {:titlelingo => "_CHATBUTTONMOOD_"}}
          %a.chatRightButton.icons-chatLeave.language{:data => {:titlelingo => "_CHATBUTTONLEAVE_"}, :onclick => "UI.Chat.leave();"}
          %a.chatRightButton.icons-chatFontPlus.language{:data => {:titlelingo => "_CHATBUTTONFONTPLUS_"}, :onclick => "Application.Config.getConfig('chatfontsize').storeValue(Application.Config.getConfig('chatfontsize').getValue() + 1);"}
          %a.chatRightButton.icons-chatFontMinus.language{:data => {:titlelingo => "_CHATBUTTONFONTMINUS_"}, :onclick => "Application.Config.getConfig('chatfontsize').storeValue(Application.Config.getConfig('chatfontsize').getValue() - 1);"}
          %a.chatRightButton.icons-chatHollywood.language#chatHollywood{:data => {:titlelingo => "_CHATBUTTONHOLLYWOOD_"}}
          %a.chatRightButton.icons-chatCombatButton.language#chatCombatButton{:data => {:titlelingo => "_CHATBUTTONCOMBAT_"}}
          %a.chatRightButton.icons-chatLingo.language#chatLingoButton{:data => {:titlelingo => "_CHATBUTTONLINGO_"}}
        #chatMessageStateIcon
        #chatMessageBox
          %input.chatInput#chatMessageInput{:autocomplete => "off"}
        %a.icons-chatSend#chatMessageSendButton.language{:data => {:titlelingo => "_CHATBUTTONSEND_"}}
        #personaDesignerBox
          #personaDesigner
            .language.mainWindowHeader
              _PERSONADESIGNERTITLE_
              %a.xButton#personaDesignerCloseButton
            .mainWindowContent.singleton
              %form#personaDesignerForm
                %input.language#personaDesignerNameInput{:data => {:placeholderlingo => "_PERSONADESIGNERNAME_"}}
                %input.language#personaDesignerAvatarInput{:data => {:placeholderlingo => "_PERSONADESIGNERAVATAR_"}}
                %input.language#personaDesignerSubmit{:type => "submit", :data => {:valuelingo => "_PERSONADESIGNERCREATE_"}}
              #personaDesignerHolder
        #personaBox
          %a#personaAddButton.language{:data => {:titlelingo => "_CHATPERSONAMANAGERBUTTON_"}}
          #personaContainer
            .personaButton.active="Example"
        %form#diceFormBox
          %input#chatDiceAmount.chatInput.language{:data => {:placeholderlingo => "_CHATDICEAMOUNT_"}, :type => "number"}
          %input#chatDiceFaces.chatInput.language{:data => {:placeholderlingo => "_CHATDICEFACES_"}, :type => "number"}
          %input#chatDiceMod.chatInput.language{:data => {:placeholderlingo => "_CHATDICEMOD_"}, :type => "number"}
          #diceReasonHolder
            %input#chatDiceReason.chatInput.language{:data => {:placeholderlingo => "_CHATDICEREASON_"}}
          %a.icons-chatDiceTower#chatDiceTower.language{:data => {:titlelingo => "_CHATDICETOWER_"}}
          %input.icons-chatDiceRoll#chatDiceSubmit{:type => "submit", :value => ""}
        #bottomBox
          .diceButton.icons-d4#chatDiceD4{:title => "d4"}
          .diceButton.icons-d6#chatDiceD6{:title => "d6"}
          .diceButton.icons-d8#chatDiceD8{:title => "d8"}
          .diceButton.icons-d10#chatDiceD10{:title => "d10"}
          .diceButton.icons-d12#chatDiceD12{:title => "d12"}
          .diceButton.icons-d20#chatDiceD20{:title => "d20"}
          .diceButton.icons-d100#chatDiceD100{:title => "d100"}
      -# Right Side Windows
      -#### SHEET DESIGNER FORM
      #sheetDesignerFormSideWindow.rightSideWindow
        .language.mainWindowHeader="_SHEETDESIGNERTITLE_"
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_SHEETDESIGNEREXP_"
          %p.mainWindowParagraphError.gameInviteDesignerMessage.language#sheetDesignerError="_SHEETDESIGNERERROR_"
          %form.mainWindowParagraphMessageMargin#sheetDesignerForm
            %input.mainWindowWideInput.language#sheetDesignerName{:data=>{:placeholderlingo=>"_SHEETDESIGNERNAMEPLACEHOLDER_"}}
            %label.styleLabel.language
              _SHEETDESIGNERSTYLE_
              %select.styleInputMargin#sheetDesignerStyleSelect
                %option="História dos Seis"
            %label.language.styleLabel{:style=>"display:none"}
              %input#sheetDesignerPublicSheet{:type=>"checkbox"}
                _SHEETDESIGNERPUBLIC_
            %label.language.styleLabel
              %input#sheetDesignerRemain{:type=>"checkbox"}
                _SHEETDESIGNERREMAIN_
            %input.mainWindowParagraphSubmit.language{:type=>"submit", :data=>{:valuelingo => "_SHEETDESIGNERSUBMIT_"}}
      -##### Sheet Viewer
      #sheetViewerSideWindow.rightSideWindow
        %input#sheetViewerJSONImporter{:type => "file", :accept => ".json,.JSON"}
        #sheetViewerSheetsTab
        #sheetViewport
        #sheetToolbox
          .sheetTool.icons-sheetSave#sheetSave.language{:data => {:titlelingo => "_SHEETVIEWERSAVE_"}}
          .sheetTool.icons-sheetFullReload#sheetFullReload.language{:data => {:titlelingo => "_SHEETVIEWERFULLRELOAD_"}}
          .sheetTool.icons-sheetExport#sheetImport.language{:data => {:titlelingo => "_SHEETVIEWERIMPORT_"}}
          .sheetTool.icons-sheetImport#sheetExport.language{:data => {:titlelingo => "_SHEETVIEWEREXPORT_"}}
          .sheetTool#sheetAutomatic.language.icons-sheetAutomaticOn{:data => {:titlelingo => "_SHEETVIEWERAUTOMATIC_"}}
          .sheetTool.icons-sheetClose#sheetClose.language{:data => {:titlelingo => "_SHEETVIEWERCLOSE_"}}
      -##### Sheet Permissions
      #sheetPermSideWindow.rightSideWindow
        .language.mainWindowHeader
          _SHEETPERMISSIONSHEADER_
          %a.xButton{:onclick => "UI.PageManager.closeRightPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_SHEETPERMISSIONEXP_"
          %p.mainWindowParagraph.language#sheetPermNameTarget="_SHEETPERMISSIONSHEETNAME_"
          %form#sheetPermForm
            #sheetPermList
            %input.language.mainWindowParagraphSubmit{:type=>"submit", :data=>{:valuelingo=>"_SHEETPERMISSIONSUBMIT_"}}
      -##### Images
      #imagesSideWindow.rightSideWindow
        .mainWindowHeader.language
          _IMAGESTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeRightPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_IMAGESEXP01_"
          %p.mainWindowParagraph.language="_IMAGESEXP02_"
          %p.mainWindowParagraph.language="_IMAGESEXP03_"
          #imagesTarget
            #imagesLoadError.language="_IMAGESERROR_"
            #imagesSaveError.language="_IMAGESSAVEERROR_"
            %div
              .imagesFolder
                %a.imagesFolderIcon
                %span.imagesFolderTitle{:onclick => "this.parentNode.classList.toggle('folderOpen');"}="Nome da Pasta"
                .imagesRow
                  %a.imagesLeftButton.icons-imagesShare
                  %a.imagesLeftButton.icons-imagesView
                  %a.imagesLeftButton.icons-imagesPersona
                  %a.imagesRightButton.icons-imagesDelete
                  %a.imagesRightButton.icons-imagesRename
                  %a.imagesRightButton.icons-imagesFolder
                  %a.imagesRowTitle="Nome da Imagem"
          #imagesUpload
            #imagesUploadLeft{:style=>"display: none"}
              #linkImagesTitle
                #linkImagesIcon.icons-link
                #linkImagesTitleText.language="_IMAGESLINKTITLE_"
            #imagesUploadRight
              #dropboxImagesLogo.icons-dropboxLogo
              %input#dropboxImagesFolderName.language{:type=>"text", :data=>{:placeholderlingo=>"_SOUNDSDROPBOXFOLDER_"}}
              #dropboxImagesButton.language="_IMAGESDROPBOXCHOOSER_"
      #sheetsSideWindow.rightSideWindow
        .mainWindowHeader.language
          _SHEETSTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeRightPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_SHEETSEXP01_"
          %p.mainWindowParagraph.language="_SHEETSEXP02_"
          %p.mainWindowParagraph.language="_SHEETSEXP03_"
          %p.mainWindowParagraph.textLink.language.hoverable#sheetsStyleButton="_SHEETSOPENSTYLEEDITOR_"
          #sheetWindowSheetList
            .sheetListGameContainer.lightHoverable.openSheetGame
              %p.sheetListGameName{:onclick=>"this.parentNode.classList.toggle('openSheetGame');"}="Nome da Mesa"
              .sheetListFolderContainer.lightHoverable.openSheetFolder
                %p.sheetListFolderName{:onclick=>"this.parentNode.classList.toggle('openSheetFolder');"}="Nome da pasta"
                %p.sheetListSheet
                  %a.sheetNameLink="Nome da ficha"
                  %a.sheetExtraButton.textLink="Pasta"
                  %a.sheetExtraButton.textLink="Permissões"
                  %a.sheetExtraButton.textLink="Deletar"
              .sheetListFolderContainer.lightHoverable
                %p.sheetListFolderName{:onclick=>"this.parentNode.classList.toggle('openSheetFolder');"}="Nome da pasta fechada"
                %p.sheetListSheet
                  Sem fichas para imprimir.
                %p.sheetListSheet.textLink.lightHoverable="> Criar Ficha"
            .sheetListGameContainer.lightHoverable
              %p.sheetListGameName="Nome de mesa Fechada"
      #homeSideWindow.rightSideWindow
        .mainWindowHeader.language
          _REDPGTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeRightPage();"}
        .mainWindowContent
          %p.mainWindowParagraph.language="_REDPGEXP1_"
          %p.mainWindowParagraph.language="_REDPGEXP2_"
        -#.mainWindowHeader.language="_REDPGDONATIONTITLE_"
        -#.mainWindowContent
        -#  %p.mainWindowParagraph.language="_REDPGDONATIONEXP1_"
        -#  %p.mainWindowParagraph.language="_REDPGDONATIONEXP2_"
        -#  %p.mainWindowParagraph.language="_REDPGDONATIONEXP3_"
        -#.mainWindowHeader.language="_REDPGLINKSTITLE_"
        -#.mainWindowContent
        -#  %p.mainWindowParagraph
        -#    %a.textLink.language="_REDPGLINKFRONTBUTTON_"
        -#    \:
        -#    %span.language="_REDPGLINKFRONTEXP_"
        -#.mainWindowHeader.language="_REDPGFORUMTITLE_"
        -#.mainWindowContent
        -#  %p.mainWindowParagraph.language="_REDPGFORUM1_"
      #picturesSideWindow.rightSideWindow
      #soundsSideWindow.rightSideWindow
        .mainWindowHeader.language
          _SOUNDSTITLE_
          %a.xButton{:onclick => "UI.PageManager.closeRightPage();"}
        .mainWindowContent.singleton
          %p.mainWindowParagraph.language="_SOUNDSEXP01_"
          %p.mainWindowParagraph.language="_SOUNDSEXP02_"
          #soundsTarget
            #soundsLoadError.language="_SOUNDSERROR_"
            #soundsSaveError.language="_SOUNDSSAVEERROR_"
          #soundsUpload
            #soundsUploadLeft{:style=>"display: none"}
              #linkSoundsTitle
                #linkSoundsIcon.icons-link
                #linkSoundsTitleText.language="_SOUNDSLINKTITLE_"
            #soundsUploadRight
              #dropboxSoundsLogo.icons-dropboxLogo
              %label#dropboxBGMInput.language
                %input#dropboxSoundsIsBGM{:type=>"checkbox", :checked=>"checked"}
                _SOUNDSISBGM_
              %input#dropboxFolderName.language{:type=>"text", :data=>{:placeholderlingo=>"_SOUNDSDROPBOXFOLDER_"}}
              #dropboxSoundsButton.language="_SOUNDSDROPBOXCHOOSER_"
      #hitboxSideWindow.rightSideWindow
        %iframe#hitboxFrame
      #youtubeSideWindow.rightSideWindow
    -# App Key for Dropbox Choooser
    %script{:type => 'text/javascript', :id => "dropboxjs", "data-app-key" => "nr1604ewqoph539"}
    %script{:type => 'text/javascript', :src => 'js/lib/libraries161029.js', :id=>"redpgLibraries"}
    %script{:type => 'text/javascript', :src => 'js/Application.js'}