/**
 *  The following Fonts were chosen out of the Google Fonts archive.
 *  Licenses found with them were kept and can be found right next to them.
 */

/** DancingScript Font */
/** License - SIL OPEN FONT LICENSE VERSION 1.1. Local copy: Lingo/DancingScript-Regular.txt */
@font-face {
    font-family: 'DancingScript';
    src: url('Lingo/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Calligraffitti */
/** License - Apache License. Local copy: Lingo/Calligraffitti-Regular.txt */
@font-face {
    font-family: 'Calligraffitti';
    src: url('Lingo/Calligraffitti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Calligraffitti */
/** License - Apache License. Local copy: Lingo/Calligraffitti-Regular.txt */
@font-face {
    font-family: 'Nazcaan';
    src: url('Lingo/Nazcaan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Tangerine Font */
/** License - SIL OPEN FONT LICENSE VERSION 1.1. Local copy: Lingo/Tangerine_Bold.txt */
@font-face {
    font-family: 'tangerine';
    src: url('Lingo/Tangerine_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** RockSalt */
/** License - Apache License. Local copy: Lingo/RockSalt.txt */
@font-face {
    font-family: 'rocksalt';
    src: url('Lingo/RockSalt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/**
 *  The following Fonts were found on dafont.com
 *  Any licenses which accompanied the font were carried over here.
 *  For fonts without accompanying licenses, it was assumed dafont's category was accurate.
 *  In case dafont's category was inaccurate, the font will be removed promptly.
 */

@font-face {
    font-family: 'BiedermeierKursiv';
    src: url('Lingo/BiedermeierKursiv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gabrielle';
    src: url('Lingo/Gabrielle.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carolingia';
    src: url('Lingo/Carolingia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxford';
    src: url('Lingo/Oxford.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnalSatisfaction';
    src: url('Lingo/Analsatisfaction.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Achafexp';
    src: url('Lingo/Achafexp.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/** Savage por Roozbeh Ebadi (ReSkull) */
/** Free License - Author's notes can be found at Lingo/Savage.txt */
@font-face {
    font-family: 'Savage';
    src: url('Lingo/Savage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Argor Man Scaqh by Argor
  * Free License */
@font-face {
    font-family: 'Argmansc';
    src: url('Lingo/Argmansc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** AonCariCeltic
  * Free License - Author's notes can be found at Lingo/AonCariCeltic.pdf */
@font-face {
    font-family: 'AonCariCeltic';
    src: url('Lingo/AonCariCeltic.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Mystic Prophet Font */
/** Free License - Author's notes can be found at Lingo/MysticProphet.pdf */
@font-face {
    font-family: 'MysticProphet';
    src: url('Lingo/MysticProphet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Lycanthrope Font by Chad Savage */
/** Free License - Author's notes can be found at Lingo/Lycanthrope.txt */
@font-face {
    font-family: 'Lycanthrope';
    src: url('Lingo/Lycanthrope.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** Savage por Roozbeh Ebadi (ReSkull) */
/** Free License - Author's notes can be found at Lingo/Savage.txt */
@font-face {
    font-family: 'Savage';
    src: url('Lingo/Savage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** GreatVictorian */
/** Free License - EULA found at Lingo/GreatVictorian.txt */
@font-face {
    font-family: 'GreatVictorian';
    src: url('Lingo/GreatVictorian.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/** Tulisan Tanganku by Azwar Rakhman */
/** Free License - Author's Notes: truslah kreatif anak bangsa indonesiya...' */
@font-face {
    font-family: 'Tulisan';
    src: url('Lingo/Tulisan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/** Use fonts in chat */

/** Elvish */
#chatMessages > p.chatMensagem > span.linguaElvish, #chatMessages > p.chatNarrativa > span.linguaElvish {
    font-family: tangerine;
    font-size: 1.5em;
    line-height: 0.8em;
    font-weight: normal;
}

/** Aquon */
#chatMessages > p.chatMensagem > span.linguaAquon, #chatMessages > p.chatNarrativa > span.linguaAquon {
    font-family: Gabrielle;
    font-size: 1.4em;
}

/** El'zel */
#chatMessages > p.chatMensagem > span.linguaEllum, #chatMessages > p.chatNarrativa > span.linguaEllum {
    font-family: BiedermeierKursiv;
    font-size: 1.2em;
}

/** Natrum */
#chatMessages > p.chatMensagem > span.linguaNatrum, #chatMessages > p.chatNarrativa > span.linguaNatrum {
    font-family: Lycanthrope;
    font-size: 1.05em;
    font-variant: small-caps;
}

/** Magraki */
#chatMessages > p.chatMensagem > span.linguaMagraki, #chatMessages > p.chatNarrativa > span.linguaMagraki {
    font-family: rocksalt;
    font-size: 0.85em;
}

/** Celestan */
#chatMessages > p.chatMensagem > span.linguaCelestan, #chatMessages > p.chatNarrativa > span.linguaCelestan {
    font-family: carolingia;
    font-size: 1.2em;
}

/** Abyssal */
#chatMessages > p.chatMensagem > span.linguaAbyssal, #chatMessages > p.chatNarrativa > span.linguaAbyssal {
    font-family: AonCariCeltic;
    font-size: 1.1em;
}

/** Draconic */
#chatMessages > p.chatMensagem > span.linguaDraconic, #chatMessages > p.chatNarrativa > span.linguaDraconic {
    font-family: Savage;
    font-size: 1.2em;
}

/** Auran */
#chatMessages > p.chatMensagem > span.linguaAuran, #chatMessages > p.chatNarrativa > span.linguaAuran {
    font-family: Argmansc;
    font-size: 0.9em;
}

/** Ancient */
#chatMessages > p.chatMensagem > span.linguaAncient, #chatMessages > p.chatNarrativa > span.linguaAncient {
    font-family: Oxford;
    font-size: 1.65em;
}


/** Technum */
#chatMessages > p.chatMensagem > span.linguaTechnum, #chatMessages > p.chatNarrativa > span.linguaTechnum {
    font-family: Calligraffitti;
    font-size: 1.1em;
}

/** Arcana */
#chatMessages > p.chatMensagem > span.linguaArcana, #chatMessages > p.chatNarrativa > span.linguaArcana {
    font-family: MysticProphet;
    font-size: 0.9em;
    font-variant: small-caps;
}


/** Davek */
#chatMessages > p.chatMensagem > span.linguaDavek, #chatMessages > p.chatNarrativa > span.linguaDavek {
    font-family: Tulisan;
    font-size: 1.1em;
}

/** Animal */
#chatMessages > p.chatMensagem > span.linguaAnimal, #chatMessages > p.chatNarrativa > span.linguaAnimal {
    font-family: Achafexp;
    font-size: 1.7em;
}

/** Glamour */
#chatMessages > p.chatMensagem > span.linguaArkadium, #chatMessages > p.chatNarrativa > span.linguaArkadium {
    font-family: AnalSatisfaction;
    font-size: 0.85em;
}